@model UM.Models.GVKHOA

@{
    ViewBag.Title = "CreateGVK";
    Layout = "~/Views/Shared/GVK.cshtml";
}

<div class="col-md-offset-5 col-md-10">
    <h2>Tạo Giáo Vụ Khoa</h2>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-offset-5 col-md-10">
                    Mã Giáo Vụ Khoa <br />
                    @Html.EditorFor(model => model.MaGVK, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MaGVK, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-10">
                    Họ và tên <br />
                    @Html.EditorFor(model => model.HotenGVK, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HotenGVK, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-5 col-md-10">
                    Ngày Sinh <br />
                    @Html.EditorFor(model => model.Ngaysinh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ngaysinh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-5 col-md-10">
                    Số Điện Thoại <br />
                    @Html.EditorFor(model => model.Dienthoai, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dienthoai, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-5 col-md-10">
                    Địa Chỉ <br />
                    @Html.EditorFor(model => model.Diachi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Diachi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-5 col-md-10">
                    Gmail <br />
                    @Html.EditorFor(model => model.Gmail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Gmail, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-5 col-md-10">
                    Mã Lớp Học <br />
                    @Html.EditorFor(model => model.MaLH, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MaLH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-5 col-md-10">
                    <input type="submit" value="Tạo mới" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "IndexGVK")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
