@model UM.Models.HOCKY

@{
    ViewBag.Title = "DetailsHK";
    Layout = "~/Views/Shared/GVK.cshtml";
}

<h2>Chi Tiết Học Kỳ</h2>

<div>
    <h4>HOCKY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Học Kỳ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHK)
        </dd>

        <dt>
            Tên Học Kỳ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHK)
        </dd>

        <dt>
            Tín Chí
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tinchi)
        </dd>

        <dt>
            Số Tiết
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sotiet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHK }) |
    @Html.ActionLink("Back to List", "IndexHK")
</p>
