@model IEnumerable<UM.Models.TINTUC>

@{
    ViewBag.Title = "IndexTT";
    Layout = "~/Views/Shared/GVK.cshtml";
}

<h2>IndexTT</h2>

<p>
    @Html.ActionLink("Create New", "CreateTT")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaTT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tieude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngaydang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaGVK)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaTT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tieude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaydang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaGVK)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditTT", new { matt = item.MaTT }) |
            @Html.ActionLink("Details", "DetailsTT", new { matt = item.MaTT }) |
            @Html.ActionLink("Delete", "DeleteTT", new { matt = item.MaTT })
        </td>
    </tr>
}

</table>
